<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SysUserMapper">
    <insert id="insert" parameterType="SysUser">
        INSERT INTO sys_user (username, password, real_name, email, phone_number, status, role, created_time, updated_time, deleted)
        VALUES (#{username}, #{password}, #{realName}, #{email}, #{phoneNumber}, #{status}, #{role}, #{createdTime}, #{updatedTime}, #{deleted})
    </insert>

    <select id="findById" parameterType="Long" resultType="SysUser">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

    <select id="findAll" resultType="SysUser">
        SELECT * FROM sys_user
    </select>
    <select id="findByUserName" resultType="com.example.common.SysUser">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>
    <select id="findByUserId" resultType="com.example.common.SysUser">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

    <update id="update" parameterType="SysUser">
        UPDATE sys_user SET username = #{username}, password = #{password}, real_name = #{realName}, email = #{email},
        phone_number = #{phoneNumber}, status = #{status}, role = #{role}, updated_time = #{updatedTime}, deleted = #{deleted}
        WHERE id = #{id}
    </update>

    <update id="disableUserAccount">
        UPDATE sys_user SET status = 0 WHERE id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM sys_user WHERE id = #{id}
    </delete>
</mapper>
