<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserTokenMapper">
    <insert id="insert" parameterType="UserToken">
        INSERT INTO user_token (user_id, access_token, refresh_token, device_type, device_id, ip_address, create_time, access_token_expires_at, refresh_token_expires_at, status)
        VALUES (#{userId}, #{accessToken}, #{refreshToken}, #{deviceType}, #{deviceId}, #{ipAddress}, #{createTime}, #{accessTokenExpiresAt}, #{refreshTokenExpiresAt}, #{status})
    </insert>

    <select id="findById" parameterType="Long" resultType="UserToken">
        SELECT * FROM user_token WHERE id = #{id}
    </select>

    <select id="findByUserId" parameterType="Long" resultType="UserToken">
        SELECT * FROM user_token WHERE user_id = #{userId}
    </select>

    <select id="findByRefreshToken" resultType="com.example.common.UserToken">
        SELECT * FROM user_token WHERE refresh_token = #{refreshToken} and status = 'ACTIVE'
    </select>

    <update id="update" parameterType="UserToken">
        UPDATE user_token SET user_id = #{userId}, access_token = #{accessToken}, refresh_token = #{refreshToken},
        device_type = #{deviceType}, device_id = #{deviceId}, ip_address = #{ipAddress}, create_time = #{createTime},
        access_token_expires_at = #{accessTokenExpiresAt}, refresh_token_expires_at = #{refreshTokenExpiresAt}, status = #{status}
        WHERE id = #{id}
    </update>

    <update id="updateAccessTokenByRefreshToken">
        UPDATE user_token SET access_token = #{accessToken}, access_token_expires_at = #{accessTokenExpiresAt}
        WHERE refresh_token = #{refreshToken} AND status = 'ACTIVE'
    </update>

    <update id="updateStatusByUserIdAndDeviceId">
        UPDATE user_token SET status = #{status}
        WHERE user_id = #{userId} AND device_id = #{deviceId}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM user_token WHERE id = #{id}
    </delete>
</mapper>
